@model TravelPlan.Models.Dto.Area.Users.AddUserRoleDto

@{
    ViewData["Title"] = "اضافه کر";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br>

<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">حذف کردن نقش</h3>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="/admin/users/DeleteUserRole" method="post">
                    <p>
                        شما قصد حذف نقش  کاربر
                        <text class="text-danger">@Model.FullName</text>
                        <span>با ایمیل</span>
                        <text class="text-danger">@Model.Email</text>
                        <span>را دارید</span>
                    </p>
                    <br>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Id" type="hidden" class="form-control" />
                    </div>
                    <div class="form-group pb-4">
                        @if (Model.Roles.Count == 0)
                        {
                            <p class="">این کاربر نقش فعالی ندارد</p>
                        }
                        else
                        {
                            <label asp-for="Role" class="control-label">نقش</label>
                            <select asp-for="Role" asp-items="Model.Roles" class="form-control"></select>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        }
                    </div>
                    <div class="form-group">
                        @if (Model.Roles.Count == 0)
                        {
                            <input value=" حذف نقش" class="btn btn-danger" disabled />
                        }
                        else
                        {
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#kt_modal_1">
                                حذف نقش
                            </button>
                            <!--begin::modal-->
                            <div class="modal fade" tabindex="-1" id="kt_modal_1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title">حذف نقش</h3>

                                            <!--begin::Close-->
                                            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                                <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                                            </div>
                                            <!--end::Close-->
                                        </div>

                                        <div class="modal-body">
                                            <p>میخواهید این نقش را حذف کنید؟</p>
                                            <p class="text-danger">اگر به کاربری این نقش را داده اید ممکن است که دچار مشکل شوید</p>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">بستن</button>
                                            <button type="submit" class="btn btn-danger">ثبت تغییرات</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::modal-->
                        }
                    </div>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="card-footer">
        <a href="/admin/users/index" style="font-size:18px">بازگشت به لیست</a>
    </div>
</div>
