@using TravelPlan.Models.Dto.Area.City;
@using TravelPlan.Models.Dto.Area.Country;
@model List<TravelPlan.Models.Dto.Area.Hotel.HotelListDto>
@{
    var Countries = ViewBag.ListCountry as List<CountryListDto>;
    var Cities = ViewBag.ListCity as List<CityListDto>;
}
<!-- new hotel -->
<section class="container mb-sm-5 mb-4 pb-lg-4">
    <div class="d-sm-flex align-items-center justify-content-between mb-4 pb-2">
        <h2 class="h4 mb-sm-0 font-vazir">جدید ترین هتل ها</h2>
    </div>
    <div class="tns-carousel-wrapper tns-controls-outside-xxl tns-nav-outside">
        <div class="tns-carousel-inner"
             data-carousel-options="{&quot;items&quot;: 3, &quot;gutter&quot;: 24, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1,&quot;nav&quot;:true},&quot;500&quot;:{&quot;items&quot;:2},&quot;850&quot;:{&quot;items&quot;:3},&quot;1400&quot;:{&quot;items&quot;:3,&quot;nav&quot;:false}}}">
            <!-- Item-->
            @foreach (var item in Model)
            {
                string NameCountry = Countries.Where(x => x.Id == item.CountryId).Select(x => x.Name).FirstOrDefault();
                string NameCity = Cities.Where(x => x.Id == item.CityId).Select(x => x.Name).FirstOrDefault();
                <div>
                    <div class="position-relative">
                        <div class="position-relative mb-3">
                            <img class="rounded-3" src="@item.IndexImage"
                                 alt="@item.ImageAlt" title="@item.ImageTitle">
                        </div>
                        <h3 class="mb-2 fs-lg">
                            <a class="nav-link stretched-link" href="/Hotel/@item.Slug">
                                @item.Name
                            </a>
                        </h3>
                        <ul class="list-inline mb-0 fs-sm">
                            <li class="list-inline-item pe-1">
                                <i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>@NameCountry , @NameCity
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</section>