@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>بدون دسترسی</title>
    <link rel="stylesheet" href="~/css/Main/Account/AccessDenied.css?v=1" />
</head>
<body>
    <div class="container">
        <h1>
            4<div class="lock">
                <div class="top"></div><div class="bottom"></div>
            </div>3
        </h1><p>شما دسترسی لازم را ندارید</p>
    </div>
    <script src="~/js/Main/Account/AccessDenied.js">
    </script>
</body>
</html>



